[includeIf "gitdir:~/"]
    path = ~/.config/git/profiles/personal
[includeIf "gitdir:~/Documents/Claranet/"]
    path = ~/.config/git/profiles/claranet

[init]
    defaultBranch = main

[core]
    editor = vim

[alias]
    s = status
    a = add
    c = commit
    cm = commit -m
    ac = commit -a -m
    l = log --pretty='format:%C(yellow)[%h | %ad%Cred%d%C(yellow)] %Creset%s%Cblue | [%cn]' --date=short
