[include]
    path = ~/.config/git/profile

[init]
    defaultBranch = main

[core]
    editor = nvim

[alias]
    s = status
    a = add
    c = commit
    cm = commit -m
    cma = commit --amend
    ac = commit -a -m
    l = log --pretty='format:%C(yellow)[%h | %ad%Cred%d%C(yellow)] %Creset%s%Cblue | [%cn]' --date=short
